<div class="seller-auth">
    <div class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signup(sellerSignUp.value)" class="common-form" >
            <input ngModel class="form-input"  type="text" name="name" id="" placeholder="Enter Name">
            <input ngModel class="form-input" type="password" name="password" id="" placeholder="Enter Password">
            <input ngModel class="form-input" type="text" name="email" id="" placeholder="Enter Email">
            <button class="form-button">SignUp</button>
        </form>

        

    </div>
</div>